@import "tailwindcss";

@layer base {
  :root {
    --card: 0 0% 100%;
    --card-foreground: 222.2 47.4% 11.2%;
  }

  .dark {
    --card: 222.2 47.4% 11.2%;
    --card-foreground: 210 40% 98%;
  }
}
